<html lang="en">

<head>
    <title>쇼핑몰 수지</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&amp;subset=korean" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!-- JQuery를 import 합니다 -->

    <script>
        function order() {

            let inputName = $('#OrderName').val();
            let inputAddress = $('#OrderAdd').val();
            let inputAmount = $('#OrderAmount').val();
            let inputphoneN = $('#OrderPhN').val();

            let temp1 = inputName;
            let temp2 = inputAddress;
            let temp3 = inputAmount;
            let temp4 = inputphoneN;

            if (temp1 == '') {
                alert('이름을 입력하세요');
                $('#OrderName').focus();
                return;
            }
            else if (temp3 == '') {
                alert('수량을 입력하세요');
                $('#OrderAmount').focus();
                return;
            }
            else if (temp2 == '') {
                alert('주소를 입력하세요');
                $('#OrderAdd').focus();
                return;
            }
            else if (temp4 == '') {
                alert('전화번호를 입력하세요');
                $('#OrderPhN').focus();
                return;
            }

            $.ajax({
                type: "POST",
                url: "/orders",
                data: { jname_give: temp1, jqtt_give: temp3, jadd_give: temp2, jph_give: temp4 },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        $('#OrderName').val('');
                        $('#OrderAdd').val('');
                        $('#OrderAmount').val('');
                        $('#OrderPhN').val('');
                        window.location.reload();
                    }
                }
            })
         }


        $(document).ready(function () {
            $('#orderList').html('');
            listing();
        });

        function listing() {
            $.ajax({
                type: "GET",
                url: "/orders",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let orders = response['orders'];
                        for (let i = 0; i < orders.length; i++) {
                          make_card(orders[i]['jname'],orders[i]['jqtt'],orders[i]['jadd'],orders[i]['jph']);
                        }

                    } else {
                        alert('리뷰를 받아오지 못했습니다');
                    }
                }
            })
        }
         function make_card(temp1,temp2,temp3,temp4 ) {
            $('#orderList').append("<div class='wrap3'>" + "<div style='width:100;'>" + temp1 + "</div>" + "<div style='width:40;'>" + temp2 + "</div>" + "<div style='width:230;text-align: center;'>" + temp3 + "</div>" + "<div style='width:130; text-align: center;'>" + temp4 + "</div>" + "</div>");
        }
    </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styleS.css') }}">
</head>

<body>
    <div class="wrap">
        <img class="card-img-top" src="https://img-cf.kurly.com/shop/data/goodsview/20190812/gv40000059047_1.jpg"
            alt="Card image cap" style="width:30rem;">

        <!-- headline-->
        <div class="headline">
            <h>[콜린스그린] 착즙 주스 3종 </h><br>
            <h class="description">갓 짜낸 과채의 순수한 즙만을 담은 100% 착즙 주스</h>
        </div>


        <div class="price"> 5,200원 <h class="unit">/ 1 set</h>
        </div>
        <div>
            <div class="headInfo"> 지금 주문하세요! </div>
            <hr>

            <div class="wrap2">
                <div class="info">• 주문자 성함</div>
                <div class="const"><input id="OrderName" type="text" style="width:205px; height: 26px;"></div>
            </div>
            <div class="wrap2">
                <div class="info">• 수량</div>
                <div class="const"><select id="OrderAmount" class="amount">
                        <option selected value="">- 수량을 선택하세요 -</option>
                        <option value="1"> 1 set </option>
                        <option value="2"> 2 set </option>
                        <option value="3"> 3 set </option>
                        <option value="4"> 4 set </option>
                        <option value="5"> 5 set </option>
                    </select></div>
            </div>
            <div class="wrap2">
                <div class="info">• 주소</div>
                <div class="const"><input id="OrderAdd" type="text" style="width:205px; height: 26px;"></div>
            </div>
            <div class="wrap2">
                <div class="info">• 전화번호</div>
                <div class="const"><input id="OrderPhN" type="text" style="width:205px; height: 26px;"></div>
            </div>

        </div>
        <div style="text-align: center; margin: 20px;">
            <button type="button" class="btn btn-danger order" onclick="order()">주문 하기</button>
        </div>

        <div class="headInfo"> ORDER LIST </div>
        <hr>

        <div id="orderList">
            <div class="wrap3">
                <div style="width:100px;font-weight: bold;font-size: 16px;">성함</div>
                <div style="width:40px;font-weight: bold;font-size: 16px;">수량</div>
                <div style="width:230px;font-weight: bold;text-align: center;font-size: 16px;">주소</div>
                <div style="width:130px;font-weight: bold; text-align: center;font-size: 16px;">전화번호</div>
            </div>
<!--            <div class="wrap3" style="margin: 10px 0px 0px 0px;">

                <div style="width:100px;">김수지</div>
                <div style="width:40px;">2</div>
                <div style="width:230px;text-align: center;">성동구 하왕십리동</div>
                <div style="width:130px;text-align: center;">010-6666-9998</div>
            </div>-->

        </div>

    </div>

</body>

</html>